{% extends "base.html" %}
{% block body %}
<h1>SMART TASK MANAGER</h1>
<form method="POST" , action="/">
    <div class="user_name">
        <label>user name</label>
        <input type="text" name="user_name" placeholder="user name" required>
    </div>
    <br>
    <div class="user_password">
        <label>user password</label>
        <input type="password" name="user_password" placeholder="your password" required>
    </div>
    <div class="button">
        <p><button type="submit">login</button></p>
    </div>
    {% if the_name %}
    <p>welcom to the smart task manager {{ the_name }}</p>
    {% endif %}
    <p>or</p>
    <a href="/new_user"> CREATE NEW USER</a>
</form>

{% endblock %}