{% extends "base.html" %}
{% block body %}
<h1>مدير المهام الذكي</h1>
<form method="POST" , action="/">
    <div class="user_name">
        <label>اسم المستخدم</label>
        <input type="text" name="user_name" placeholder="ادخل اسم المستخدم" required>
    </div>
    <br>
    <div class="user_password">
        <label>كلمة المرور</label>
        <input type="password" name="user_password" placeholder="ادخل كلمة المرور" required>
    </div>
    <div class="button">
        <p><button type="submit">تسجيل الدخول</button></p>
    </div>
    <a href="/new_user">حساب جديد</a>
</form>
{% if wrong %}
<br>
<p>لم يتم العثور على حساب مستخدم بهذه البيانات</p>
<p>يبدوا ان هنالك خطاء في اسم المستخدم او كلمة المرور</p>
<br>
{% endif %}

{% endblock %}
<!-- last commit -->