{% extends 'base.html' %}
{% block body %}
<h2>المستخدمين الجدد</h2>
<div>
    <form method="post" action="/new_user">
        <label>ادخل اسمك</label>
        <input type="text" name="new_user_name" placeholder="ما هو اسمك" required autofocus>
        <br>
        <label>ادخل بريدك الالكتروني</label>
        <input type="email" name="new_user_email" placeholder="ما هو بريدك الالكتروني" required>
        <br>
        <label>كلمة المرور</label>
        <input type="password" name="new_user_password" placeholder="لا تنساها" required>
        <br>
        <br>
        <button type="submit">انشاء</button>
        <br>
    </form>
</div>
{% if wrong %}
<br>
<p>يبدوا ان اسم المستخدم او كلمة المرور او البريد الاكتروني مستخدم بالفعل</p>
<p>ننصحك بتغيير هذه البيانات باخرى </p>
<br>
{% endif %}
{% if yes %}
<br>
<p>تم انشاء الحساب بنجاح</p>
{% endif %}
{% endblock %}
<!--  -->