{% extends 'base.html' %}
{% block body %}
<h1>مدير المهام الذكي</h1>
<h2>صفحة العمل على المهام</h2>
<div>
    <form method="post" action="/show">
        <label for="">اضافة مهمة</label>
        <input type="text" name="add" id="1" placeholder="اضف مهمة جديدة">
        <br>
        <label for="">تحديث مهمة</label>
        <input type="text" name="old_update" id="3" placeholder="ادخل المهمة القديمة">
        <input type="text" name="new_update" id="4" placeholder="ادخل المهمة بعد التحديث">
        <br>
        <label for="">حذف مهمة</label>
        <input type="text" name="delete" id="5" placeholder="ادخل اسم المهمة">
        <br>
        <button type="submit">ارسال</button>
        <a href="{{ url_for ('display')}}">عرض المهام</a>
    </form>
</div>
{% endblock %}